/* ShowFavorites.css */
.carousel-container {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    max-width: 1200px;
    margin: 0 auto 1rem auto;
    padding: 0.5rem;
    /* height: 200px; */
}

.favorite-item {
    padding: 1rem;
    width: 600px; 
    /* height: 180px; */
    flex-shrink: 0;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.carousel-button {
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0;
    flex-shrink: 0;
}

.carousel-button:hover {
    color: white;
    transform: scale(1.1);
}

.carousel-button svg {
    width: 24px;
    height: 24px;
}

.favorite-item .weather-today {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 768px) {
    .carousel-container {
        padding: 0.5rem;
        margin: 0.5rem;
        gap: 0.5rem;
        /* height: 180px; */
    }

    .favorite-item {
        width: calc(100% - 80px);
        /* height: 160px; */
        margin: 0 auto;
    }

    .carousel-button {
        width: 32px;
        height: 32px;
    }

    .carousel-button svg {
        width: 20px;
        height: 20px;
    }
}

.current-weather__temp-container{
    max-width: 70%;
}
.current-weather__city {
    max-width: 50%;
}

@media (max-width: 480px) {
    body {
    
        font-size: 14px;
         
    }
    .current-weather__city {
        font-size: 20px;
    }
}

/*ajustar la altura de las tarjetas para que esten todas igual