.map-section {
    background: rgba(45, 55, 72, 0.9);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.map-container {
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 400px;
}

.complete-map {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border-style: none;
}

.map-title {
    font-size: 14px;
    color: #8b939c;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 24px 0 12px 0;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 1000;
    padding: 5px;
    transition: transform 0.2s ease;
    outline: none;
}

.arrow:focus {
    outline: none;
}

.arrow:hover {
    transform: translateY(-50%) scale(1.2);
}

.arrow.left {
    left: 0px;
}

.arrow.right {
    right: 0px;
}

.indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.dot {
    height: 8px;
    width: 8px;
    margin: 0 4px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: white;
}


.leaflet-control-container {
    visibility: hidden;
}

.precipitation-map .layer-map {
    filter: contrast(1000%);
}

.map-container .base-map {
    filter: invert(90%) hue-rotate(200deg);
}