.current_humidity {
    background: rgba(45, 55, 72, 0.9);
    border-radius: 20px;
    padding: 20px;
    color: white;
    flex: 1;
    margin-bottom: 12px;
    width: 200px; /* Ancho fijo */
    height: 200px; /* Alto fijo */
    display: flex;
    flex-direction: column;
}

.humidity-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.humidity-header h3 {
    color: #8b939c;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}

.humidity-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.progress-ring__circle {
    transition: stroke-dashoffset 0.5s ease-in-out;
}

.clouds-percentage,
.humidity-percentage {
    font-size: 24px;
    font-weight: 500;
    font-family: system-ui, -apple-system, sans-serif;
}

.humidity-percentage {
    font-size: 24px;
    font-weight: 500;
    font-family: system-ui, -apple-system, sans-serif;
}

@keyframes progress {
    from {
        stroke-dashoffset: 251.327;
    }
}